/*
Document
========
*/
html {
    background-color: #141414;
    color: white;
}

  /**
Additional Style
*/
h2 {
    border-bottom: 2px solid #FF5064;
    width: fit-content;
    padding-right: 40px;
    padding-bottom: 10px;
    line-height: 1.25;
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: uppercase;
}

h3 {
    border-bottom: 2px solid #FF5064;
    width: fit-content;
    padding-right: 40px;
    padding-bottom: 10px;
    line-height: 0.5;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
}

input{
    color: #141414;
}
